# =========================
# Compiled binaries (C/C++)
# =========================
a.out
*.out
*.exe
*.o
*.obj

# =========================
# Debug / macOS files
# =========================
*.dSYM/
*.dSYM

# =========================
# Output folders
# =========================
output/
build/
bin/

# =========================
# Temporary / system files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE files
# =========================
.vscode/
.idea/
*.swp
